:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.navbar {
    z-index: 9999;
}

.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.2s ease-in-out;
}

.nav-active {
    background-color: #181a23;
}

.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .navbar-brand1 {
        display: none;
    }

    .navbar-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dropdown {
        position: relative;
        width: 100%;
        text-align: center;
        transition: all .5s ease-in-out;
    }
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    color: var(--white);
    font-size: 20px;
}

.nav-item:hover .nav-link {
    background: transparent;
    color: #f5634b !important;
}

.txt {
    text-align: left;
}

.navbar-brand1 {
    font-size: 28px;
    color: #fd7e14;
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand1:hover {
    color: #fd7e14;
}

.fz {
    font-size: 36px;
    font-weight: bold;
}

.brand-colo {
    color: #fd7e14;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    text-align: center;
    transition: all .5s ease-in-out;
}

.dropdown-item {
    color: #c8c8c8;
    text-transform: uppercase;
}


.dropdown-item:hover {
    background: transparent;
    color: #f5634b;
}

.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
    position: relative;
}

.dropdown-menu {
    background: #1c1c1c;
    color: #6c757d;
    border-radius: 0px;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
    padding: 24px 0 26px;
    min-width: 280px;
    left: 0px;
    top: 100%;
    transition: all .3s ease;
    display: none;
}

.hold {
    background-image: url("./images/bg-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    /* z-index: 1; */
}

.hold::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: .8;
}

.section-1 {
    padding: 150px 0;
    height: 100%;
}

.btn-1 {
    padding: 5px 25px;
    margin: 0;
    font-family: initial;
    font-size: initial;
    line-height: initial;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    letter-spacing: 2px;
    position: relative;
}

.btn-2 {
    padding: 20px 40px;
    margin: 0;
    font-family: initial;
    font-size: initial;
    line-height: initial;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    letter-spacing: 2px;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    transform: translateY(5px);
    transition: all .5s ease-out;
    border: none;
    position: relative;
}

.btn-2:hover {
    background: linear-gradient(-90deg, #f5634b 0%, #fe9418 100%);
    transform: translateY(0px);
    transition: all .5s ease-out;
}

.btn-2 a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.par-1 {
    font-size: 75px;
    line-height: 95px;
    font-weight: bold;
    margin: 10px 0;
    color: var(--white);
    position: relative;
}

.sp-pa {
    color: #f5634b;
}

.section-2 {
    margin-top: -80px;
    position: relative;
}

.try {
    height: 350px;
    position: relative;
}

.try:hover::before {
    height: 100%;
    color: var(--white);
}

.try:hover .try-1 {
    color: var(--white);
    transition: all 600ms ease;
}

.card:hover .a-link {
    color: var(--white);
    transition: all 600ms ease;
}

.try:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    transition: all 600ms ease;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    border-color: #f5634b;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    position: relative;
}

.card-text {
    padding: 30px 0;
}

.a-link {
    text-decoration: none;
    color: #dc3545;
    margin-right: 20px;
}


.card-title {
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.card-num {
    position: absolute;
    top: -50px;
    font-size: 150px;
    color: #c8c8c8;
    opacity: .5;
}

.col {
    position: relative;
    padding: 0 20px;

}

.col-h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.col-span {
    color: #f5634b;
}

.col-p {
    color: #6c757d;
}

.section-4 {
    padding: 150px 0;
    position: relative;
    background-image: url("./slide2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section-4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    top: 0;
}

.h-span {
    color: #f5634b;
}

.section-5 {
    padding: 100px 0 50px 0;
}

.bef {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 10px;
}

.bef::before {
    content: "";
    width: 50px;
    height: 5px;
    position: absolute;
    top: 0;
    background-color: #dc3545;
}

.font {
    font-size: 50px !important;
    color: #f5634b;
}

.hov {
    position: relative;
}

.hov:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    transition: all 600ms ease;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    border-color: #f5634b;
}

.hov:hover::before {
    height: 100%;
    color: var(--white);
}

.hov:hover .hov-1 {
    color: var(--white);
    transition: all 600ms ease;
}

.hov:hover .hov-2 {
    color: var(--white);
    transition: all 600ms ease;
}

.hov:hover .hov-3 {
    color: var(--white) !important;
    transition: all 600ms ease;
}

.section-7 {
    background-image: url("./bg-cta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    margin-top: -20px;
}

.section-7::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
}

.section-8 {
    padding: 100px 0 50px 0;
}

.nap:hover {
    color: #f5634b !important;
    transition: all 300ms ease;
}

button a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    letter-spacing: 2px !important;
    font-size: 16px !important;
}

footer {
    padding: 100px 0 50px 0;
    background-color: #181a23;
}

footer p {
    color: #Fff;
    opacity: .3;
    font-size: 16px;
}

footer a {
    color: white;
}

.hop {
    color: #Fff;
    opacity: .3;
    font-size: 16px;
}

li {
    list-style: none;
    padding-bottom: 15px;
}